<div class="form-group {{ class }}">
	<label for="{{ role }}-{{ id }}">{{ text }}</label>
	<input 
		type="text" 
		name="{{ name }}" 
		id="{{ role }}-{{ id }}" 
		class="form-control"
	>
</div>